* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #138bb3; 
}

.quote-box {
    background: #fdfdfd; 
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
    color: #000000; 
}

.quote-box h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 3px;
    background: rgb(23, 124, 229); 
    border-radius: 3px;
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
    color: #000000; 
}

.quote-box blockquote::before, .quote-box blockquote::after {
    content: '';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    color: #000000; 
}

.quote-box div {
    width: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: rgb(23, 124, 229); 
    color: #ded6d6; 
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.quote-box button:hover {
    background: #1e7bce; 
    border-color: #1e7bce; 
}
